header {
    background-image: none;
}
.nav a:active,
a:focus,
a:hover{
    text-decoration: none;
}
.page-back {
    display: inline-block;
    /*padding: 10px;*/
    background-image: url("../images/page-back.png");
    width:16px;
    height:16px;
    margin: 32px 0 0 20px;
    /*background-repeat: no-repeat;*/
    /*background-position: 10px 10px;*/
}
.store-up {
    position: absolute;
    width: 66px;
    height: 32px;
    right: 10px;
    bottom: 10px;
    line-height: 28px;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    border-radius: 20px;
}
.store-up span {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}
.icon-hert {
    display: inline-block;
    background-image: url("../images/icon-hert.png");
    width:20px;
    height:18px;
    margin: 0;
    margin-right: 4px;
    vertical-align: middle;
}
.store-up.active .icon-hert {
    background-image: url("../images/icon-hert-active.png");
}
.store-up.active span { color: #ff5a5a;  }
.top-box-banner {
    position: relative;
    width: 100%;
    /*height: 200px;*/
    height: 4rem;
    -moz-box-shadow:0 30px 50px #000 inset;              /* For Firefox3.6+ */
    -webkit-box-shadow:0 30px 50px #000 inset;          /* For Chrome5+, Safari5+ */
    box-shadow:0 30px 50px #000 inset;
    /*background-image: url("../images/index-banner.png");*/
    background-size: cover;
    background-repeat: no-repeat;
}
.top-box-banner img {
    width: 100%;
    /*height: 200px;*/
    height: 4rem;
    text-align: center;
    background-size: cover;
}
.contact-way {
    padding: 10px;
    /*height: 90px;*/
    margin: 10px auto;
    display: flex;
    background: #fff;
}
.contact-way .one-box {
    height: 90px;
    flex: 20;
}
.contact-way .one-box img {
    width: 90px;
    height: 90px;
    margin-right: 10px;
}
.contact-way .two-box {
    height: 90px;
    flex: 60;
}
.contact-way .two-box .text-1 {
    padding: 6px;
    font-family: PingFangSC-Regular;
    font-size:18px;
    color:#242742;
    letter-spacing:0px;
    text-align:left;
}
.contact-way .two-box .text-1 {
    font-family: PingFangSC-Regular;
    font-size:16px;
    color:#242742;
    letter-spacing:0px;
    text-align:left;
}
.contact-way .two-box .text-2 {
    padding-top: 16px;
    opacity:0.9;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color:#73747d;
    line-height:14px;
    text-align:left;
}
.contact-way .tre-box {
    height: 90px;
    flex: 20;
    line-height: 90px;
    text-align: center;
}

.contact-way .tre-box img  {
    width: 30px;
    height: 30px;
    border-left: 1px solid #dfdfdf;
    padding-left: 20px;
}
.banner-box-a {
    position: relative;
    display: block;
}
.banner-box-a img{
    width: 100%;
    /* height: 200px; */
    height: 168px;
}
.icon-location,
.icon-time {
    display: inline-block;
    width: 13px;
    height: 16px;
    margin: -3px 6px 0 0;
    background-image: url("../images/icon-location.png");
    vertical-align: middle;
}
.icon-time {
    width: 13px;
    height: 13px;
    background-image: url("../images/icon-time.png");
    background-size: 13px 13px;
}
.cont-nav {
    margin-bottom: 10px;
    height: 88px;
    display: flex;
    color: #666;
    background: #fff;
}
.cont-nav p {
    text-align: center;
}
.cont-nav .one-box,
.cont-nav .two-box,
.cont-nav .tre-box {
    flex: 1;
    color: #666;
}
.cont-nav p {
    font-size: 12px;
    margin-top: 10px;
}
.nav-icon-nav,
.nav-icon-nav2,
.nav-icon-nav3 {
    display: inline-block;
    width: 30px;
    height: 31px;
    margin: 2px;
    background: url("../images/nav-icon-nav.png");
}
.nav-icon-nav2 {
    width: 27px;
    background-position: -29px 0;
}
.nav-icon-nav3 {
    width: 30px;
    background-position: -56px 0;
}
.h2-title-box {
    height: 64px;
    margin: 10px 0;
    line-height: 64px;
    font-size: 24px;
    color: #666;
    text-align: center;
    background: #fff;
}
.commodity-show {
    display: flex;
}
.commodity-show .one-box,
.commodity-show .two-box,
.commodity-show .tre-box {
    display: inline-block;
    flex: 1;
    height: 160px;
    background: #fff;
}
.commodity-show .one-box,
.commodity-show .two-box {
    display: block;
    /*margin-right: 2px;*/
}
.commodity-show .pic-box {
    min-height: 112px;
    line-height: 112px;
    text-align: center;
}
.commodity-show .pic-box img {
    max-width: 120px;
    max-height: 110px;
    /*min-width: 120px;*/
    /*min-height: 110px;*/
}
.commodity-show p {
    padding-top: 4px;
    font-size: 12px;
    text-align: center;
    color: #666;
}
.commodity-show .swiper-slide { background-color: #fff; }
.load-text {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #666;
    background-color: #dfdfdf;
}
.pric {
    position: absolute;
    top: 116px;
    left: 50%;
    width: 140px;
    margin-left: -70px;
    padding: 4px;
    text-align: center;
    background-color:rgba(255,255,255,0.8); /* IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂，但解析为透明 */

}
.pric p:first-child {
    font-size: 16px;
    text-align: center;
    color: #666;

}
.pric p:last-child {
    color: #ff5a5a;
    text-align: center;

}
.top-header {
    background:#0e1323;
    height:44px;
    line-height: 44px;
}
.seach-box {
    width: 68%;
    /*margin-left: 13%;*/
    height: 30px;
    margin-top: 6px;
    line-height: 30px;
    border-radius: 15px;
    background-color: #404450;
    vertical-align: middle;
    overflow: hidden;
}
.seach-box input {
    font-size: 12px;
    width: 70%;
    height: 26px;
    line-height: 22px;
    background-color: inherit;
    border: 0;
    outline: none;
    vertical-align: top;
    color: #fff;
    opacity: .8;
    box-sizing: content-box;
}

.special-offers {
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    background-color: #fff;
}
.special-offers img{
    width: 25px;
    height: 19px;
    margin-left: 4px;
    margin-top: -4px;
}
.special-offers span.text-1 {
    font-size:12px;
    color:#060606;
    letter-spacing:0px;
    line-height:14px;
    text-align:left;
}
.special-offers span:last-child {
    font-size:12px;
    color:#73747d;
    letter-spacing:0px;
    line-height:14px;
    text-align:left;
}

.icon-one-page-1 span,
.icon-one-page-2 span,
.icon-one-page-3 span,
.icon-one-page-4 span,
.icon-one-page-5 span {
    display: inline-block;
    width: 31px;
    height: 28px;
    background-image: url("../images/icon-one-page.png");
}
.icon-one-page-1.active span {
    background-position: 0 -29px;
}
.icon-one-page-2 span {
    width: 33px;
    background-position: -102px -2px;
}
.icon-one-page-2.active span {
    width: 33px;
    background-position: -102px -29px;
}
.icon-one-page-3 span {
    width: 29px;
    background-position: -68px 0;
}
.icon-one-page-3.active span {
    width: 29px;
    background-position: -68px -29px;
}
.icon-one-page-4 span {
     width: 35px;
     background-position: -32px -1px;
 }
.icon-one-page-4.active span {
    width: 35px;
    background-position: -32px -30px;
}
.icon-one-page-5 span {
    width: 28px;
    background-position: -140px -1px;
}
.icon-one-page-5.active span {
    width: 28px;
    background-position: -140px -30px;
}
.icon-one-page-1 p,
.icon-one-page-2 p,
.icon-one-page-3 p,
.icon-one-page-4 p,
.icon-one-page-5 p {
    color: #737f7d;
    text-align: center;
}
.icon-one-page-1.active p,
.icon-one-page-2.active p,
.icon-one-page-3.active p,
.icon-one-page-4.active p,
.icon-one-page-5.active p {
    color: #171a36;
}

.icon-search {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 9px;
    background-image: url("../images/icon-search.png");
}
.swiper-wrapper img { width: 100%; }
.icon-message {
    position: absolute;
    display: block;
    width: 17px;
    height: 17px;
    top: 16px;
    right: 20px;
    background-image: url("../images/icon-message.png");
}
.drop-down-warp {
    display: flex;
    margin: .23rem 0;
    /*border-bottom: 1px #f8f8f8 solid;*/
}
.drop-down-warp p {
    font-size: 12px;
    color: #73747d;
    flex: 1;
    text-align: center;
}
.commodity-box {
    margin-bottom: 10px;
    background-color: #fff;
}
.commodity-box p.one-box,
.commodity-box p.two-box {
    padding: 10px 20px;
    height: 20px;
    color: #73747d;
    background-color: #fff;
}
.commodity-box p.two-box {
    padding-top: 0px;
}
.commodity-box p.two-box img {
    margin-top: -3px;
    margin-right: 4px;
}
.commodity-box img {
    width: 100%;
    vertical-align: inherit;
}
.commodity-box p span:last-child {
    font-size: 14px;
}
.commodity-box .two-box img {
    width: inherit;
}
.commodity-box p.one-box .fl {
    font-size: 16px;
    color: #000;
}
.icon-arrow-down {
    display: inline-block;
    width: 14px;
    height: 9px;
    margin-left: 6px;
    background-image: url("../images/icon-arrow-down.png");
}
.drop-down-warp p.active .icon-arrow-down {
    display: inline-block;
    width: 14px;
    height: 9px;
    margin-left: 6px;
    color: #000;
    background-image: url("../images/icon-arrow-down-acti.png");
}
.drop-down-warp p.active { color: #000; }
.memu {
    border-top: 1px #f8f8f8 solid;
    position: absolute;
    width: 100%;
    background: #fff;
    z-index: 1;
}
.tab_proList .memu li {
    padding-left: 20px;
    border-bottom: 0;
    font-size:14px;
    color:#73747d;
    letter-spacing:0px;
    text-align:left;
}
.tab_proList dt .currStyle span {
    display: inline-block;
    height: 37px;
    border-bottom: 2px solid #000;
}
.none {
    display: none;
}
.shop-floor li {
    padding: 0 !important;
    /*height: 64px;*/
    line-height: 64px;
    padding-bottom: 10px!important;
}
.shop-floor .top-box {
    padding: 0 10px;
    height: 64px;
    line-height: 64px;
}
.shop-floor .top-box img {
    margin-top: 10px;
    min-width: 51px; min-height: 51px; max-width: 51px; max-height: 51px; background: #06c1ae;
}
.shop-floor .text-box {
    float: left;
    margin-top: -51px;
    padding-left: 80px;
}
.shop-floor .text-box p {
    padding-top: 4px;
}
.good-goods-title {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size:16px;
    color:#171a36;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 4px;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;
}
.good-goods-title .badge {
    font-size:13px;
    color:#ffffff;
    text-align:left;
    background-color:#171a36;
    margin-top: -10px;
    margin-right: 10px;
    vertical-align: middle;
}
.gooe-top-price {
    padding-left: 66px;
}
.gooe-top-price p {
    padding-top: 10px;
}
.gooe-top-box {
    padding-bottom: 10px;
}
.price-tip {
    float: left;
    min-width: 25px;

}
.price-tip p {
    padding: 0;
}
.price-tip p:first-child {
    font-size:14px;
    color:#171a36;
    text-align: center;
    min-width: 32px;
    min-height: 18px;
    line-height: 20px;
    background-color: #ededed;
}
.price-tip p:last-child {
    min-width: 34px;
    min-height: 34px;
    line-height: 34px;
    text-align: center;
    background:#171a36;
    width:32px;
    color: #fff;
    overflow: hidden;
}
.gooe-top-price .price-tip {
    margin: 10px 0 -10px -54px;
    clear: both;
}
.good-goods-show .swiper-slide {
    /*padding: 0 10px;*/
}
.good-goods-show p {
    text-align: left;
    padding-top: 8px;
    padding-left: 10px;
}

.good-goods-show .c-block {
    color: #000;
}
.good-goods-show .c-red {
    color: #ff5a5a;
}
.good-goods-show .one-box,
.good-goods-show .two-box,
.good-goods-show .tre-box {
    height: 200px;
}
.price-tip-sty2 {
    margin-left: 10px;
    margin-top: 10px;
}
.price-tip-sty2 span:first-child {
    float: left;
    font-size: 12px;
    color: #171a36;
    text-align: center;
    min-width: 25px;
    min-height: 20px;
    line-height: 20px;
    background-color: #ededed;
}
.price-tip-sty2 span:last-child {
    float: left;
    min-width: 22px;
    min-height: 20px;
    line-height: 20px;
    text-align: center;
    background: #171a36;
    font-size: 12px;
    color: #fff;
    overflow: hidden;
}
.condition-filter {
    display: flex;
    height: 44px;
    border-bottom: 1px solid #dfdfdf;
    margin-left: 1.6rem;
}
.condition-filter span {
    flex: 1;
    float: left;
    line-height: 44px;
    text-align: center;
    font-size: 16px;
}
.condition-filter span.active {
    color:#fd3149;
}
.condition-filter span.activeTwo {
    color:#fd3149;
}
.clothing-details #tab li {
    height: 50px;
}

.clothing-details #tab li a strong {
    color: #333;
}
.clothing-details .category_cont .h2-title-box {
    background:#f2f2f2;
    height:34px;
    margin: 6px;
    padding-left: 10px;
    line-height: 34px;
    font-size: 14px;
    text-align: left;
}
.icon-sort-arrow {
    display: inline-block;
    width: 14px;
    height: 20px;
    margin-top: -2px;
    vertical-align: middle;
    background-image: url("../images/btn-arrow-sorting.png");
    background-position: -1px 0;
}

.condition-filter span.active .icon-sort-arrow {
    background-position: -17px 0;
}
.condition-filter span.activeTwo .icon-sort-arrow {
    background-position: -33px 0;
}
.list-thumbnail {
    flex: 1;
    float: left;
    width: 106px;
    padding-bottom: 4px;
    margin: 4px;
    /*border: 1px solid #f2f2f2;*/
}
.list-thumbnail img {
    margin: 0 auto;
    display: inherit;
    height: 126px;
    width: 100%;
}
.list-thumbnail p {
    padding: 6px 6px 0 6px;
}
.list-thumbnail-box {
    display: flex;
}
.giving-information {
    font-size: 12px;
    color:#73747d;
}
.cont-page-top {
    position: relative;
    width: 100%;
    /* height: 200px; */
    height: 4rem;
    -moz-box-shadow: 0 15px 50px #000 inset;
    -webkit-box-shadow: 0 15px 50px #000 inset;
    box-shadow: 0 15px 50px #000 inset;
    /* background-image: url(../images/index-banner.png); */
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.cont-page-top h2 {
    padding: 40px 0;
    margin: 0;
    font-size:22px;
    color:#ffffff;
    line-height:20px;
    text-shadow:0px 2px 2px rgba(0,0,0,0.71);
    text-align:center;
}
.cont-page-top p {
    padding: 5px 0;
    padding-left: 30%;
    color: #fff;
}
.icon-location.sty2 {
    background-image: url(../images/icon-location-2.png);
}
.icon-time.sty2 {
    background-image: url(../images/icon-time-2.png);
}
.shop-floor.big-ver img {

    margin-top: 10px;
    min-width: 120px;
    min-height: 90px;
    max-width: 120px;
    max-height: 90px;
    background: #06c1ae;
}

.shop-floor.big-ver .text-box {
    float: none;
    padding-left: 146px;
}
.shop-floor.big-ver .text-box p {
    padding-top: 8px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 19px;
    white-space: nowrap;
    max-width: 170px;
}
.shop-floor.big-ver .top-box { line-height: 110px; }
.icon-btn-search {
    position: absolute;
    top: 12px;
    right: 20px;
    width:18px;
    height:18px;
    background-image: url("../images/icon-btn-search.png");
}
.btn-search-cancel {
    position: absolute;
    top: 13px;
    right: 8px;
    width:40px;
    height:18px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
}
.details-page-tab #slide,
.details-page-tab #slide .swiper-slide,
.details-page-tab #slide .swiper-slide  img {
    height: 290px;
    min-height: 290px;
    max-height: 290px;
}

.details-page-tab .tabs {
    display: flex;
    background: #0e1323;
    height: 44px;
    line-height: 44px;
}
.details-page-tab .tabs span {
    display: block;
    flex: 1;
    font-size: 16px;
    color:#9d9ca3;
    padding: 0 15px;
}
.details-page-tab .tabs span em {
    font-style: normal;
}
.details-page-tab .tabs span.active em {
    color: #fff;
    line-height: 40px;
    display: inline-block;
    border-bottom: 2px solid #fff;
}
.goods-details-price {
    padding: 10px;
    background-color: #fff;
}
.goods-details-price p { color: #000; }
.goods-details-price p span:first-child {
    font-size: 32px;
    color: #ff5a5a;
}
.goods-details-price p span:last-child {
    font-size: 16px;
    text-decoration: line-through;
    color: #81818a;
}
.goods-details-title {
    margin: 10px 10px;
    font-size:14px;
    color:#81818a;
    line-height:14px;
    text-align:left;

}
.goods-details-info {
    padding: 6px 0;
    background-color: #fff;
}
.goods-details-info p {
    padding-left: 10px;
    line-height: 28px;
    font-size:14px;
    color:#050616;
    text-align:left;
}
.goods-details-info p span {
    min-width: 80px;
    display: inline-block;
}
.goods-details-box img {
    max-height: 256px;
    /*min-width: 375px;*/
    /*min-height: 256px;*/
}

.queue-number span:first-child {
    display: inline-block;
    min-width: 120px;
}
.queue-number span:last-child {

}

.queue-number span.icon-courier {
    display: inline-block;
    width: 12px;
    height: 12px;
    min-width: 12px;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -2px;
    background-image: url("../images/icon-courier.png");
}
.condition-filter .icon-btn-filter {
    float: none;
    display: inline-block;
    width: 15px;
    height: 16px;
    vertical-align: middle;
    margin-top: -4px;
    background-image: url("../images/icon-btn-filter.png");
}
.inforList li a {
    color: #000;
    font-size: 16px;
}
.user-head {
    position: absolute;
    width: 80px;
    height: 80px;
    top:60px;
    left: 6%;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
}
.user-head img {
    display: inline-block;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
}
.user-one-page .cont-page-top h2 {
    padding-top: 60px;
    padding-bottom: 10px;
    padding-left: 30%;
    text-align: left;

}
.sign-box {
    cursor: pointer;
    padding: 8px 12px;
    background-color:rgba(0,0,0,0.4); /* IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂，但解析为透明 */
    border-radius: 20px;
}
.icon-my-sign {
    display: inline-block;
    width: 12px;
    height: 14px;
    margin-right: 6px;
    margin-top: -2px;
    background-image: url("../images/icon-my-sign.png");
    vertical-align: middle;
}
.food-top-btn-box {
    background-color: #fff;
    padding: 0 10px 10px 10px;
    display: flex;
}
.food-top-btn-box a {
    flex: 1;
    height: 40px;
    line-height: 40px;
    font-size:18px;
    color:#242742;
    text-align:center;
    background-color: #f0f3f5;

}
.food-top-btn-box a:last-child {
    margin-left: 10px;
}
.swiper-pagination-bullet-active {
    background-color: #f40;
}
.food-swiper-box .fz-18 {
    font-size: 18px;
}
.food-swiper-box .fz-14 {
    font-size: 14px;
}
.food-swiper-box .plr10 {
    padding: 10px 10px 0;
    color: #ff5a5a;
}
.food-swiper-box p {
    padding-top: 10px;
    color:#242743;
}
.food-swiper-box .plr10 span:last-child {
    text-decoration: line-through;
}
.swiper-container2.food-swiper-box .pic-box img {
    max-width: 162px;
    max-height: 162px;
    /*min-width: 162px;*/
    min-height: 162px;
}
.swiper-container2 { margin-top: 20px; }
.swiper-container2.food-swiper-box .checkbox {
    padding: 0 10px;
    margin-top: 10px;
}
.swiper-container2.food-swiper-box .checkbox input {
    margin: -3px 6px 0 0;
}
.btn-sign-out {
    position: absolute;
    bottom: 10%;
    left: 50%;
    display: block;
    width: 200px;
    height: 50px;
    margin-left: -100px;
    line-height: 50px;
    color: #ff5a5a;
    font-size:18px;
    text-align:center;
    border: 2px solid #ff5a5a;
    border-radius: 26px;
}
.sign-in-modal .close {
    position: absolute;
    top: -11px;
    right: -11px;
    width: 22px;
    height: 22px;
    opacity: 1;
    z-index: 11;
    background-image: url("../images/icon-modal-close.png");
}
.icon-calendar {
    display: block;
    width: 128px;
    height: 125px;
    margin: 0 auto;
    margin-top: 40px;
    background-image: url("../images/icon-calendar.png");
}
.icon-calendar span {
    display: inline-block;
    width: 128px;
    padding-top: 56px;
    text-align: center;
    font-size:14px;
    color:#242742;
}
.icon-calendar span em {
    font-style: inherit;
    font-size: 34px;
    color: #ff5a5a;
    vertical-align: middle;
}
.icon-sign-up-top {
    position: absolute;
    top: -34px;
    left: 50%;
    width: 68px;
    height: 82px;
    margin-left: -34px;
    background-image: url("../images/icon-sign-up-top.png");
}
.icon-sign-bean {
    display: inline-block;
    width: 16px;
    height: 17px;
    background-image: url("../images/icon-sign-bean.png");
}
.sign-time-box {
    padding: 4px 0;
    float: left;
    width: 46px;
    text-align: center;
}
.sign-time-box p {
    text-align: center;
}
.sign-time-box p:nth-child(2) {
    color: #ff5a5a;
}
.class_tree li a:hover {
    text-decoration: none;
}
.search-title {
    margin: 10px;
    padding-left: 10px;
    border-left: 2px solid #fd3149;
    font-size: 16px;
    line-height: 16px;
}

.selling-food-box .commodity-show .pic-box img {
    max-width: inherit;
    max-height: inherit;
    /*min-width: 114px;*/
    min-height: 114px;
}
.selling-food-box { margin-top: 15px; }
.modal-filter .h3-title {
    margin: 20px 0;
    font-size:16px;
    color:#666666;
    text-align:left;
}
.modal-filter input {
    display: inline-block;
}
.space-line {
    display: inline-block;
    width: 20px;
    margin: -6px 6px 0;
    vertical-align: middle;
    border-top: 1px solid #888;
}
.brand-box span {
    display: inline-block;
    background:#eaecef;
    width:100px;
    height:34px;
    margin-right: 40px;
    margin-bottom: 20px;
    line-height: 34px;
    text-align: center;
}
.brand-box span.active {
    color: #ff5a5a;
    text-decoration: none;
}

.modal-filter .modal-footer {
    padding: 0;
    display: flex;
    border:0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.modal-footer a {
    flex: 1;
    font-size: 16px;
    background:#ececec;
    height:60px;
    line-height: 60px;
    text-align: center;
    color: #8d8e95;
}
.modal-footer a:focus,
.modal-footer a:hover {
    color: #8d8e95;
    text-decoration: none;
}
.recommend-com .category_cont  {
       margin-left: 0;
}
.recommend-com .list-thumbnail img {
    height: 170px;
}
.recommend-com .gooe-top-box.mb0 {
    margin-bottom: 0;
}
.recommend-com .icon-hert {
    width: auto;
    margin: 0;
    color: #171a36;
    margin-left: 6px;
}
.recommend-com .icon-hert img {
    display: inline-block;
    width: 14px;
    height: 13px;
    margin-right: 4px;
}
.recommend-com .list-thumbnail { border: 0; }

.coupon-box {
    padding-left: 20px;

}
.coupon-box h3 {
    font-size:13px;
    color:#858585;
    text-align:left;
    padding: 0 0 10px 0;
    margin: 26px 0 14px 0;
    border-bottom: 1px solid #d8d8d8;
}
.card-volume img {
    width: 100%;
    height: 125px;
}
.card-volume {
    position: relative;
    margin-top: 10px;
}
.card-volume p {
    display: flex;
    float: left;
    position: absolute;
    left: 0;
    top: 32px;
    width: 100%;
}
.card-volume p span {
    flex: 1;
    display: block;
}
.card-volume p:nth-child(2) {
    font-weight: bold;
    font-size: 16px;
    margin: 0 20%;
}
.card-volume p:nth-child(2) span:first-child {
    color: #f1505c;
}
.card-volume p:last-child {
    display: block;
    top: 80px;
    text-align: center;
    font-size:13px;
    color:#858585;
}
.copyright-information {
    position: fixed;
    bottom: 14px;
    width: 100%;
    text-align: center;
    height: 20px;
    line-height: 20px;
    font-size:16px;
    color:#010212;
}
.jiemi-logo-box {
    text-align: center;
    padding: 20% 0;
    background: #fff;
}
.jiemi-logo-box img {
    display: inline-block;
}
.inforList li.modify-avatar {
    padding: 10px 3%;
}
.inforList li.modify-avatar a.isNext:before {
    line-height: 74px;
}
.modify-avatar .user-head {
    position: static;
    float: left;
    width: 50px;
    height: 50px;
    /*margin: 10px 0;*/
}
.modify-avatar .user-head img {
    display: inline-block;
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
}
.bind-box {
    text-align: center;
}
.bind-box div {
    padding-top: 20%;
}
.bind-box a {
    display: block;
    padding-top: 14%;
}
/*.recommend-com.layout-sty2 .list-thumbnail-box {*/
    /*display: block;*/
/*}*/


.recommend-com.layout-sty2 .list-thumbnail-box .list-thumbnail {
    flex: auto;
    width: 48%;
    margin: 1%;
}
.recommend-com.layout-sty2 .list-thumbnail-box .list-thumbnail p {
    padding-top: 6%;
    padding-left: 12%;
}
.food-list-cont li {
    float: none;
    width: auto;
    padding: 2%;
    margin: 0;
    border-bottom: 1px solid #dbdbdb;
}
.food-list-cont li img {
    width: 30%;
    float: left;
    border-radius: 3px;
}
.food-list-cont li p {
    padding-top: 2%;
    padding-left: 32%;
    padding-right: 2%;
}
.food-list-cont li p.c-red { padding-top: 6%; }
.collect-shop .commodity-box li .top-box img {
    min-width: 90px;
    min-height: 90px;
    max-width: 90px;
    max-height: 90px;
    /*width: 30%;*/
}
.collect-shop .commodity-box li .text-box {
    padding-left: 120px;
    float: none;
}
.collect-shop .commodity-box li .text-box p:first-child {
    font-size: 18px;
    padding-bottom: 15px;
}
.icon-hert-red {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-top: -2px;
    vertical-align: middle;
    background-image: url("../images/icon-hert-active.png");
    background-size: 16px 15px;
}
.tab_proList dd { margin-top: 0; }
.tab_proList2 {
    margin-top: 0;
    border-top: 1px solid #f8f8f8 ;
}
.tab_proList2 .food-list-cont img {
    width: 16%;
    border: 1px solid #eee;
    border-radius: inherit;
    margin-left: 2%;
    min-width: 62px;
    min-height: 62px;
}
.tab_proList2 .food-list-cont li p {
    padding-left: 22%;
    padding-top: 2%;
}
.tab_proList2 .food-list-cont li p.pt0 {
    padding-top: 0;
}
.tab_proList2 dd li {
    padding: 4% 0;
}
.icon-discount {
    display: inline-block;
    width: 16px;
    height: 15px;
    vertical-align: middle;
    margin: -2px 6px 0 0;
    background-image: url("../images/icon-discount.png");
}
.space-line-gary {
    height: 12px;
    background-color: #f1f1f1;
}
.mem-card {

}
.mem-card .card-box {
    font-size: 18px;
    margin: 0 auto;
    width: 296px;
    height: 155px;
    background-image: url("../images/card-box-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    color: #3C7277;
}
.mem-card .card-box p:first-child {
    padding-left: 4%;
    padding-top: 18%;

}
.mem-card .card-box p:last-child {
    padding-left: 4%;
    padding-top: 4%;
}
.lease-box .shop-floor li {
    border-bottom: 10px #f1f1f1 solid;
}
.icon-down-right {
    position: absolute;
    right: 20px;
    top: 50%;
    display: inline-block;
    width: 9px;
    height: 15px;
    margin-top: -8px;
    background-image: url("../images/icon-down-right.png");
}
.collect-shop.lease-box .commodity-box li .text-box p {
    padding: 8px;
    padding-bottom: 0;
}
.lease-record-box {
    font-size: 16px;
    padding-top: 0;
}
.lease-record-box p {
    padding-top: 12px;
}
.lease-record-box  {
    padding-top: 18px;
}
.my-lease-record {
    margin-top: 30px;

}
.my-lease-record p {
    padding-top: 6px;
    padding-left: 39%;
}
.my-lease-record p.pt0 {
    padding-top: 0;
}
.my-lease-record li { margin-bottom: 6%; }
.my-lease-record li img {
    min-width: 120px;
    min-height: 120px;
    width: 30%;
}
.my-lease-record {
    margin-left: 6%;
}
.no-record {
    padding: 10%;
    font-size: 20px;
    color: #81818A;
}
.bind-box h3.title {
    font-size: 14px;
    padding: 4% 0;
    margin: 0;
}
.bind-input-box {
    padding: 0 10px;
    margin: 0;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    overflow: hidden;
}
.bind-input-box label {
    display: inline-block;
    height: 42px;
    line-height: 42px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 16px;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #eaeaea;
    font-weight: normal;
    margin-bottom: 0;
}
.bind-input-box input {
    height: 40px;
    max-width: 150px;
    padding-left: 10px;
    line-height: 20px;
    border: 0;
    font-size: 18px;
    vertical-align: middle;
    outline: none;
}
.bind-input-box input:focus {
    border: 0;
}
.bind-box .btn-red {
    background:#ff5a5a;
    border-radius:2px;
    height:38px;
    line-height: 38px;
    padding: 0;
    margin: 0 10%;
    font-size:18px;
    color:#ffffff;
    text-align:center;
    margin-top: 6%;
}
.bind-box div.service-declaration-text {
    font-size: 12px;
    padding-top: 4%;
}
.radio-c-red {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-top: -2px;
    vertical-align: middle;
    margin-right: 5px;
    background-image: url("../images/icon-radio-c-red.png");
}
.c-pink {
    color: #ff5a5a;
}
.bind-input-box .btn-re-send {
    float: right;
    padding-left: 0;
    max-width: 100px;
    font-size: 14px;
    color:#bebdbd;
    text-align:center;
    border-left: 1px solid #cfcfcf;
    border-radius: 0;
}
.mine-num-list .shop-floor li {
    border-bottom: 10px #f1f1f1 solid
}
.mine-num-list .collect-shop .commodity-box li .top-box img {
    max-width: 120px;
    margin-top: 13px;
}
.mine-num-list .collect-shop .commodity-box li .text-box {
    padding-left: 140px;
}
.btn-take-num,
.btn-take-num-nor,
.btn-take-num-act {
    position: absolute;
    top: 50%;
    right: 20px;
    float: right;
    height: 80px;
    padding-left: 20px;
    margin-top: -40px;
    line-height: 80px;
    font-size: 18px;
    border-left: 2px solid #dfdfdf;
}
.btn-take-num-act {
    color: #ff5a5a;
}
.bind-input-box .btn-re-send:disabled { background-color: #fff; }
.take-num-list {
    margin-top: 10px;
    padding: 10px 10px 0 10px;
    background-color: #fff;
}
.take-num-list li {
    display: flex;
    border-bottom: 1px solid #dfdfdf;
    padding: 12px 0;
}
.take-num-list li:first-child {
    border-bottom: 0;
    padding: 0;
}
.take-num-list li:first-child p {
    font-size: 14px;
}
.take-num-list p {
    display: inline-block;
    flex: 1;
    margin: 0;
    font-size: 16px;
}
.take-num-list p .text-1 {
    display: block;
    flex: auto;
    font-size: 12px;
    color: #81818a;
}
.take-num-list .title-box {
    font-size:14px;
    color:#81818a;
    line-height:14px;
    text-align:center;
}
.take-num-list li p:nth-child(2) {
    text-align: center;
    line-height: 38px;
}
.take-num-list li p:last-child {
    text-align: right;
    line-height: 38px;
}
.take-num-list li.title-box p:nth-child(2) {
    line-height: normal;
}
.take-num-list li.title-box p:last-child {
    line-height: normal;
}
.range-box {

}

.take-num-list .range-box p .text-1 {
    font-size: 16px;
    color: #333;
    line-height: normal;
}
.btn-c-red {
    display: inline-block;
    font-size:16px;
    color:#ffffff;
    text-align: center;
    background:#ff5a5a;
    width:90px;
    height:40px;
    line-height: 40px;
    box-shadow: 0px 4px 14px #ff5a5a;
    cursor: pointer;
}
.take-num-list li.li-text {
    padding: 0;
    border: 0;
}
.take-num-list li.li-text p {
    font-size: 14px;
    text-align: left;
}
.rebate-box {
    display: inline-block;
    width: 34px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    background-image: url("../images/rebate-box-bg.png");
    background-size: 34px 16px;
}

.collect-shop .commodity-box.lease-map li .text-box p:first-child {
    padding-top: 30px;
    padding-bottom: 0;
    font-size: 16px;
}
.contact-way .tre-box.sty2 img {
    width: 51px;
}
.select-number .modal-footer {
    padding: 0;
    display: flex;
    border-top: 0;
}
.select-number .modal-footer a {
    flex: 1;
    height: 35px;
    line-height: 35px;
    background: #fff;
}
.select-number .modal-footer a:first-child {
    border-right: 1px solid #e5e5e5;
    color: #242742;
    border-bottom-left-radius: 6px;
}
.select-number .modal-footer a:last-child {
    color: #fe5f5f;
    border-bottom-right-radius: 6px;
}
.select-number .modal-body {
    text-align: center;
    height: 107px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-image: url("../images/select-num-bg.jpg");
}
.select-number .modal-body p {
    padding-top: 2%;
    text-align: center;
    font-size:15px;
    color:#ffffff;
}
.select-number .modal-body input {
    margin-top: 4%;
    color: #D1D1D6;
    padding-left: 10px;
    height: 26px;
    border: 0;
}
.inforList li.num-details {
    padding: 10px;
    height: auto;
    display: flex;
}
.num-details p {
    flex: 70%;
}
.num-details p span {
    font-size:16px;
    color:#81818a;
    display: block;
}
.num-details p span:first-child {
    color:#242742;
}
.num-details p span em {
    font-style: normal;
}
.num-details p:last-child {
    flex: 30%;
}
.num-details .two-box {
    height: 66px;
    position: absolute;
    text-align: right;
    top: 30px;
    right: 10px;

}
.num-details .two-box span:first-child {
    font-size:20px;
    color:#ff5a5a;
    line-height:16px;
    text-align:left;
}
.num-details .two-box span:last-child {
    font-size:14px;
    color:#81818a;
    line-height:16px;
    text-align:center;
    padding-top: 4px;
}
.queue-num-top {
    padding-top: 20px;
    text-align: center;
    background: #fff;
    margin-bottom: 10px;
}
.queue-num-top p {
    padding: 12px 0;
    font-size:20px;
    color:#2cb900;
    text-align:center;
}
.baidu-map-box img {
    width: 100%;
    max-height: 600px;
}
.navigation-btn {
    font-size: 18px;
    display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    border-radius: 50%;
    background:#fafafa;
    text-align: center;
    box-shadow:0px 3px 3px 0px #dcdada;
    color:#008ee2;
}
.navigation-btn-box .one-box,
.navigation-btn-box .two-box{
    width: 50px;
    position: absolute;
    right: 16px;
    top: 10px;
    text-align: center;
}
.navigation-btn-box .one-box p,
.navigation-btn-box .two-box p {
    text-align: center;


}
.navigation-btn-box .two-box span {
    color: #ff5a5a;
}
.navigation-btn-box .two-box {
    right: 66px;
}
.details-food-page .rebate-box {
    position: absolute;
    right: 50px;
    top: 50%;
    margin-top: -8px;
    font-size: 12px;
    color: #ff218a;
}
.food-profile {
    /*margin-left: 10px;*/
    background-color: #fff;
    padding-left: 10px;
}
.food-profile li:first-child {
    padding-left: 15px;
    font-size: 16px;
    line-height: 48px;
    border-bottom: 1px solid #dfdfdf;
}
.food-profile li:last-child {
    padding-top: 10px;
    padding-left: 15px;
    font-size:12px;
    color:#73747d;
    text-align:left;
    line-height: 16px;
}
.no-page-box {
    padding: 50px 0 80px 0;
    text-align: center;
    margin: 0 auto;
}
.no-page-box img {
    display: block;
    margin: 0 auto; }
.no-page-box p {
    padding-top: 20px;
    display: block;
    width: 100%;
    text-align: center;
}
.bind-box .btn-replace {
    padding-top: 0;
    background:#ffffff;
    border:1px solid #dfdfdf;
    border-radius:2px;
    width:53px;
    height:25px;
    line-height: 25px;
    font-size:14px;
    color:#010212;
    text-align:center;
    margin: 10% auto 0;
    outline: none;
}
.bind-box .btn-red:hover,
.bind-box .btn-red:active,
.bind-box .btn-red:focus {
    outline: none;
}
.select-number .modal-body p.c-000{
    color: #000;
}
.select-number .modal-body p.c-000:first-child {
    font-size: 16px;
    font-weight: 700;
}
.select-number.sty2 .modal-body {
    height: auto;
    background-image: none;
    border-bottom: 1px solid #e5e5e5;
}
.service-agree {
    padding: 15px;
}
.service-agree h2 {
    margin: 15px 0;
    font-weight: 700;
}
.service-agree .cont-box {
    padding-left: 30px;
    padding-bottom: 15px;
}
.service-agree .cont-box span {
    float: left;
    margin-left: -30px;
}
.service-agree .cont-box.sty2 {
    padding-left: 36px;
    padding-bottom: 0;
}
.service-agree .cont-box.sty2 span {
    margin-left: -42px;
}
.bd-t {
    border-top: 1px solid #dfdfdf;
}
.message-center .time {
    position: absolute;
    top: 2px;
    right: 10px;
    font-size:14px;
    color:#81818a;
}
.message-center .shop-floor li {
    margin-left: 10px;
    height: auto;
    padding-top: 2px !important;
    border-bottom: 1px solid #dfdfdf;
}
.tab_proList2 dd,
.tab_proList2 {
    margin-bottom: 0;
}
.message-center .shop-floor .top-box img {
    width: auto;
    background: none;
    margin: 22px 0 0 0;
    min-width: 26px;
    min-height: 26px;
    max-width: 26px;
    max-height: 26px;
}
.message-center .shop-floor .text-box {
    padding-left: 50px;
}
.message-center .shop-floor .text-box p {
    padding-top: 6px;
}
.message-center .shop-floor .text-box p.text-2 {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;

}
.sys-message-center p.title,
.message-center-asset p.title{
    padding: 16px 0;
    font-size:14px;
    color:#81818a;
    text-align:left;
}
.message-box {
    position: relative;
    padding: 14px 15px;
    margin: 0 4%;
    background:#ffffff;
    border:1px solid #e2e2e2;
    border-radius:5px;
}
.message-box h3 {
    margin: 0;
    padding-bottom: 16px;
    font-size:14px;
    color:#0e1323;
    text-align:left;
}
.message-box p {
    font-size:13px;
    color:#81818a;
    text-align:left;
}
.message-center-asset p.title {

}
.message-coupon {
    padding-bottom: 10px;
    background:#ffffff;
    margin: 0 4%;
}
.message-coupon h3 {
    margin: 0;
    padding: 10px 0;
    font-size:14px;
    color:#0e1323;
    text-align: center;
}
.message-coupon .warp-box {
    display: flex;
}
.message-coupon .warp-box div {
    flex: 1;
}
.message-coupon .warp-box div:first-child {
    border-right: 1px solid #d8d8d8;
}
.message-coupon-bg {
    width: 119px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding-top: 17px;
    background-image: url("../images/message-coupon-bg.png");
}

.message-coupon .text-p {
    width: 130px;
    font-size:12px;
    color:#81818a;
    text-align:left;
    margin: 8px auto;
}
.message-center-shop .title {
    padding: 10px 0 10px 10px;
    font-size: 14px;
    color: #81818a;
    text-align: left;
}
.message-center-shop div {
    padding: 0 10px;
    background-color: #fff;
}
.message-center-shop div p { margin: 0; }
.message-center-shop div p:nth-child(1) {
    padding: 10px 0;
    font-size:16px;
    color:#050616;
    line-height:16px;
    text-align:left;
}
.message-center-shop div p:nth-child(3),
.message-center-shop div p:nth-child(4) {
    padding: 10px 0;
    font-size:14px;
    color:#81818a;
    line-height:14px;
    text-align:left;
}
.message-center-shop div p:nth-child(3) {
    border-bottom: 1px solid #dfdfdf;
}
.message-center-shop div p img {
    display: block;
    width: 100%;
}
.message-arrow {
    position: absolute;
    top: -12px;
    right: 16%;
    width: 18px;
    height: 12px;
    background-image: url("../images/message-arrow.png");
}
.same-num {
    padding: 20px;
    margin: 14% 24%;
    text-align: center;
    background:#313132;
    border-radius:8px;
}
.icon-same-num {
    display: inline-block;
    width: 31px;
    height: 31px;
    background-image: url("../images/same-num.png");
}
.same-num p {
    padding-top: 14px;
    font-size:16px;
    color:#fff;
    text-align:center;
}
.w-60 { width: 60px; }
.fz-14 { font-size: 14px; }
.city-services h3 {
    margin: 0 0 10px 0;
    padding: 16px;
    font-size:15px;
    color:#060606;
    text-align:center;
    background:#fff;
}
.city-services .shop-floor {
    background: #fff;
}
.city-services .shop-floor li:last-child { border-bottom: 0; }
.city-services .shop-floor li:first-child {
    margin-bottom: 10px;
    /*border-bottom: 10px solid #dfdfdf;*/
}
.city-services .inforList li a.isNext:before {
    line-height: 60px;
    color: #dfdfdf;
}
.icon-city-service,
.icon-city-service-1,
.icon-city-service-2,
.icon-city-service-3,
.icon-city-service-4,
.icon-city-service-5 {
    float: left;
    width: 15px;
    height: 19px;
    margin-top: 22px;
    background-image: url("../images/icon-city-service.png");
}
.icon-city-service-1 {
    background-position: 15px 0;
}
.icon-city-service-2 {
    width: 20px;
    background-position: 35px 0;
}
.icon-city-service-3 {
    width: 18px;
    background-position: 54px 0;
}
.icon-city-service-4 {
    background-position: -37px 0;
}
.icon-city-service-5 {
    width: 21px;
    background-position: -16px 0;
}
.city-services .inforList li .icon-city-service-5,
.city-services .inforList li .icon-city-service-4,
.city-services .inforList li .icon-city-service-3,
.city-services .inforList li .icon-city-service-2,
.city-services .inforList li .icon-city-service-1,
.city-services .inforList li .icon-city-service {
    float: left;
}
.city-services .inforList li:first-child {
    padding-bottom: 0;
    margin-bottom: 0;
}
.city-services .inforList li {
    /*padding-bottom: 0!important;*/
    margin-bottom: 0;
    padding-bottom: 4px!important;
}
.city-services .message-center .shop-floor .text-box p.text-2 {
    padding-top: 2px;
    font-size: 13px;
}
.city-services .message-center .shop-floor .text-box p {
    padding-top: 16px;
    font-size: 16px;
}
.city-services .shop-floor .top-box {
    height: 60px;
}

.city-services .message-center .time {
    line-height: 55px;
}
.city-services .inforList li.top {
    /*margin: 0;*/
    height: 30px;
    line-height: 30px;
}
.city-services .inforList li.top span {
    line-height: 20px;
    font-size: 14px;
}
.city-services .inforList li.top a {
    font-size: 14px;
    margin-right: 10px;
    color: #9a9ba7;
}
.city-services .modify-num-box a {
    float: right;
    display: inline-block;
    height: 58px;
    line-height: 58px;
    font-size:14px;
    color:#0097ff;
    text-align:left;
}
.city-services .modify-num-box span {
    display: inline-block;
    background:#d8d8d8;
    width:1px;
    height:20px;
    float: right;
    margin: 20px 20px 0;
}
.city-services .modify-num-box {
    margin-right: 10px;
    height: 58px;
    line-height: 58px;
}
.bill-payment p {
    margin: 0;
}
.bill-payment li {
    position: relative;
    padding: 15px 0 15px 10px;
    margin-left: 10px;
    background-color: #fff;
    border-bottom: 1px solid #dfdfdf;
}
.bill-payment li p span:first-child {
    float: left;
    display: inline-block;
    width: 50px;
}
.bill-payment li p:first-child span:first-child { color: #999; }
.bill-payment li p span:last-child {
    display: block;
    padding-left: 100px;
}
.bill-payment li p:last-child {
    padding-top: 4px;
    font-size:13px;
    color:#999999;
    text-align:left;
}
.bill-payment li:last-child {
    border-bottom: 0;
}
.fz-13 { font-size: 13px; }
.icon-pay-1,
.icon-pay-2,
.icon-pay-3,
.icon-pay-4,
.icon-pay-5,
.icon-pay-6,
.icon-pay-7 {
    position: absolute;
    display: inline-block;
    width: 34px;
    height: 34px;
    margin: 4px 0 0 50px;
    background-image: url("../images/icon-pay.png");
}

.icon-pay-2 { background-position: -35px 0; }
.icon-pay-3 { background-position: -70px 0; }
.icon-pay-4 { background-position: -105px 0; }
.icon-pay-5 { background-position: -140px 0; }
.icon-pay-6 { background-position: -175px 0; }
.icon-pay-7 { background-position: -210px 0; }
.payment-h3 {
    margin: 10px 20px;
    font-size:15px;
    color:#010212;
    text-align:left;
}
.message-info {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size:13px;
    color:#999999;
    text-align:left;
}
.bill-payment-details.bill-payment li p {
    padding-top: 15px;
    color: #999;
}
.bill-payment-details.bill-payment li p span:first-child {
    width: 74px;
}
.bill-payment-details.bill-payment li p span:last-child {
    text-align: right;
    padding-right: 20px;
    padding-left: 0;
}
.bill-payment-details .li-text-1 {
    padding-top: 25px;
    border-bottom: 0;
    text-align: center;
    font-size:16px;
    color:#010212;
    line-height:16px;
}
.bill-payment-details .li-text-2 {
    border-bottom: 0;
    text-align: center;
    font-size:30px;
    color:#010212;
}
.bill-payment-details .li-text-3 {
    padding-top: 0;
    border-bottom: 0;
    text-align: center;
    font-size:16px;
    color:#999;
}
.pay-water-title {
    background:#ffffff;
    height:60px;
    line-height: 60px;
    margin: 0;
    font-size:16px;
    color:#010212;
    text-align:left;
    border-bottom: 10px solid #f1f1f1;
}
.pay-water-title .icon-city-service-5,
.pay-water-title .icon-city-service-4,
.pay-water-title .icon-city-service-3,
.pay-water-title .icon-city-service-2,
.pay-water-title .icon-city-service-1,
.pay-water-title .icon-city-service {
    margin: 21px 10px 0 10px;
}
.pay-money-box {
    margin-left: 10px;
}
.pay-money-box li {
    margin: 0;
    border-bottom: 1px solid #dfdfdf;
}
.pay-money-box li:last-child {
    border-bottom: 0;
}
.pay-monkey-input {
    width: 220px;
    border: 0;
    float: right;
    padding: 0;
    text-align: right;
    color: #73747d;
}
.pay-monkey-input::-webkit-input-placeholder {
    color: #73747d;
}
.pay-monkey-input:focus,
.pay-monkey-input:active {
    outline: none;
}
.btn-red-round {
    display: block;
    background:#ff5a5a;
    border-radius:30px;
    width:200px;
    height:50px;
    font-size: 18px;
    margin: 40px auto 0;
    line-height: 50px;
    color: #fff;
    text-align: center;
    box-shadow: 0px 3px 14px #ff5a5a;
}
.pay-money-result li p:first-child {
    padding-top: 0;
}
.pay-money-result li p:first-child span:first-child {
     color: #333;
 }
.pay-money-result li p:first-child span:first-child {
    color: #333;
}

.search-btn {
    display: inline-block;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    outline: none;
    color: #fff;
    vertical-align: top;
    opacity: .8;
}
.span-line {
    display: block;
    width: 100%;
    border-bottom: 1px dashed #979797;
}
.bill-payment-details.bill-payment li p span.span-line {
    width: 100%;
    margin-right: 20px;
}
.bd-t1 {
    border-top: 1px solid #dfdfdf;
}
.bd-b1 {
    border-bottom: 1px solid #dfdfdf;
}
.btn-red-del {
    display: inline-block;
    width:85px;
    height:29px;
    margin-top: 20px;
    line-height: 29px;
    font-size:15px;
    color:#ff5a5a;
    text-align: center;
    border:1px solid #ff5a5a;
    border-radius:5px;
}
.inforList.pay-money-box li a.isNext:before {
    color: #dfdfdf;
}

/*-*/
/*.take-num-list .range-box p span.c-red { color: #ff5a5a; }*/
/*phone6*/
@media screen and (max-device-width: 375px) {
    /*.list-thumbnail {*/
        /*max-width: 140px;*/
    /*}*/

}
/*phone5*/
@media screen and (max-width: 355px) {
    .contact-way .two-box .text-2 {
        font-size: 12px;
    }
    .user-one-page .cont-page-top h2 {
        padding-left: 35%;
    }
    .user-one-page .cont-page-top p {
        padding-left: 35%;
    }
    .brand-box span:nth-child(even) {
        margin-right: 0;
    }
    .mem-card .card-box {
        width: 300px;
        height: 90px;
        background-size: 300px 90px;
        font-size: 16px;
    }
    .my-lease-record li img {
        min-width: 110px;
        min-height: 110px;
    }
    .pay-money-box a.isNext span:last-child {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

}












